@mixin hide-text(){
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

// @mixin fill-parent-container(){
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@mixin pseudo-fill() {
  content: "";
  @include fill();
}